@import url("https://fonts.googleapis.com/css2?family=Faster+One&family=Poppins:wght@200;300;400;700&family=Press+Start+2P&display=swap");

body {
  background-color: #393646;
  padding: 0rem 10rem;
  font-family: "Press Start 2P", cursive;
}

.upperSection {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4rem;
  margin: 1rem 0rem;
  padding: 0rem 2rem;
}

#heading {
  font-size: 3rem;
  font-family: "Faster One", cursive;
  color: #f4eee0;
  text-align: center;
  animation: flip 3s infinite;
  animation-delay: 0.8s;
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

#scores,
#records {
  color: #f4eee0;
  display: none;
  border: 0.2rem #f4eee0 solid;
  font-family: "Press Start 2P", cursive;
  width: 30rem;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 1rem;
}

#scores div,
#records div {
  margin: 0.5rem;
}

.selectLevel {
  text-align: center;
  color: #f4eee0;
  margin-top: 10rem;
}

#chooseLevel {
  display: block;
  margin: auto;
  margin-top: 1rem;
  height: 3rem;
  border-radius: 1rem;
  width: 20rem;
  padding: 0rem 1rem;
  font-size: 2rem;
  background: none;
  color: #f4eee0;
  border: 0.2rem solid #f4eee0;
  appearance: none;
  text-align: center;
}

#chooseLevel:hover {
  background-color: #f4eee0;
  color: #393646;
}

#chooseLevel option {
  color: black;
  background-color: #f4eee0;
  font-size: 1rem;
}

#gameDiv {
  display: none;
  /* margin: 1rem; */
}

#game {
  border: 0.5rem solid #f4eee0;
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

#game div {
  height: 10rem;
  width: 10rem;
  display: inline-block;
  border-radius: 1rem;
  border: 0.2rem solid #f4eee0;
  margin: 0.5rem;
}

#game div:hover {
  box-shadow: 0 0 35px 24px rgba(244, 238, 224, 1);
}

#backgroundImage1 {
  position: absolute;
  opacity: 20%;
  width: 100%;
  height: 100%;
  left: 0rem;
  top: 0rem;
  z-index: -1;
}

#startGameDiv {
  display: block;
  height: 20rem;
  text-align: center;
  padding-top: 5rem;
  z-index: 1;
}

#messageDiv {
  display: none;
  height: 20rem;
  text-align: center;
  padding-top: 10rem;
  z-index: 1;
  color: #f4eee0;
  font-size: 2rem;
}

#startButton {
  height: 5rem;
  font-size: 2rem;
  font-family: "Press Start 2P", cursive;
  padding: 1rem;
  background: none;
  border: 0.2rem #f4eee0 outset;
  border-radius: 1rem;
  color: #f4eee0;
  padding: 0rem 1rem;
}

#startButton:hover {
  background-color: #f4eee0;
  color: #393646;
}

#buttonsHere {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

#restart,
#exit {
  height: 3rem;
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
  padding: 1rem;
  background: none;
  border: 0.2rem solid #f4eee0;
  border-radius: 1rem;
  color: #f4eee0;
  padding: 0.8rem 1rem 1rem 1rem;
  display: none;
}

#restart:hover,
#exit:hover {
  background-color: #f4eee0;
  color: #393646;
}

@media screen and (min-width: 700px) and (max-width: 1480px) {
  body {
    padding: 1%;
  }

  #backgroundImage1 {
    height: 110%;
  }

  #buttonsHere {
    margin-top: 1%;
  }

  .upperSection {
    margin: 0rem;
    gap: 20%;
  }

  #scores,
  #records {
    padding: 1%;
    width: 20%;
    height: 10%;
    flex: 1;
    font-size: 60%;
    margin-bottom: 0.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  #game div {
    width: 16vw;
    height: 13vh;
  }
}

@media screen and (max-width: 700px) {
  body {
    padding: 0% 2%;
  }

  .upperSection {
    justify-content: center;
    flex-wrap: wrap;
    gap: 4%;
    align-items: center;
  }

  #scores {
    margin-top: 2rem;
    order: 3;
  }

  #heading {
    order: 1;
  }

  #records {
    order: 2;
    margin-top: 2rem;
  }

  #scores,
  #records {
    padding: 1%;
    width: 10%;
    height: 10%;
    flex: 1;
    font-size: 50%;
  }

  #game {
    padding: 1%;
    width: 90%;
    border-width: 0.2rem;
    margin: auto;
  }

  #game div {
    width: 10vw;
    height: 10vh;
  }

  #buttonsHere {
    margin-top: 1%;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 1%;
  }

  #heading {
    font-size: 2.3rem;
    margin-top: -1rem;
    margin-bottom: -2rem;
  }

  #scores,
  #records {
    padding: 1%;
    width: 10%;
    height: 10%;
    flex: 1;
    font-size: 45%;
    margin-bottom: 0.5rem;
  }

  #game {
    margin-top: -1rem;
  }

  #game div {
    width: 22%;
    margin: 0.5%;
  }

  #restart,
  #exit {
    height: 5%;
    width: 22%;
    font-size: 10%;
    padding: 2%;
  }

  #buttonsHere {
    margin-top: 0.5%;
  }
}

@media screen and (max-width: 300px) {
  #game div {
    width: 20%;
    height: 3rem;
    margin: 0.5%;
  }

  #startButton {
    width: 90%;
  }

  #chooseLevel {
    width: 90%;
  }
}
